# Environment
.env
.venv/

# Python cache
__pycache__/
*.py[cod]

# Coverage and test artifacts
.coverage
htmlcov/
coverage.xml
.pytest_cache/

# Build outputs
build/
dist/
docs/build/

# IDE
.idea/
.vscode/

.tags
